.logo
{
    display:flex;
    align-items:center;
    color:black;
    text-decoration:none;
    font-size:48px;
    color:green;
}

.profileimage{
    width:40px;
    height:40px;
    border-radius:12px;

}
.profile
{
    display:flex;
    align-items:center;
    gap:5px;
    margin:10px;
    cursor:pointer;

}
header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:75px;
    box-shadow:1px 1px 5px;
    padding:5px;
    background-color:rgba(144, 238, 144, 0.095);
    border-radius:15px;

}
.heading
{
    font-size:36px;
    color:green;
    margin:10px;
    
    
}
.bmi
{
    height:400px;
    margin-top:50px;
    display:flex;
    flex-direction:column;
    width:50%;
}
.bmi p{
    color:green;
    font-size:36px;
    margin:10px;
    justify-content:space-between;
    
}
.bmi form{
    margin:10px;
    
}
form legend{
    color:lightgreen;
    font-size:24px;
}
.bmi input{
    width:400px;
    height:30px;
    border:2px solid green;
    border-radius:12px;
    font-size:18px;
}
.sub
{
    align-self:flex-end;
    margin-right:42%;
    padding:15px 25px;
    border:1px solid green;
    background-color:white;
    color:green;
    font-weight:bold;
    border-radius:10px;
    transition:background-color 0.5s;

}
.sub:hover
{
    background-color:green;
    color:white;
    font-weight:bold;
    
}

.displ
{
    font-size:200px;
    text-align: center;
    margin-top:70px;
    color:green;
}
.calculate
{
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
    
}

.recomen
{
    font-size:48px;
    color:green;

}
.top
{
    font-size:32px;
    color:rgb(5, 81, 5);
}
.item-image
{
    border-radius:12px;
    height:330px;
    width:310px;
}
.item
{
    border-radius:12px;
    
    box-shadow:2px 4px 12px grey;
}
.head1{
    font-size:36px;
    color:green;
}
.des
{
    font-size:18px;
}
.item-content
{
    width:80%;
}
.item{
    display:flex;
    gap:20px;
}
.display
{
    display:flex;
    flex-direction:column;
    gap:20px;
}

#comment
{
    font-size:36px;
    color:rgb(94, 248, 94);
}